*{
    margin:0;
    padding:0;
    background:white;
}
.nav{
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
}
.nav .flip-icon button{
   height:30px;
   width:200px;
   background-color:rgb(248, 248, 19);
   border-radius:10px;
   color:blue;
   font-style:italic;
   font-size:16px;
   border:none;
   gap:5px;
   display:flex;
   align-items:center;  
   justify-content:center;
   cursor:pointer;
}
.nav .flip-icon img{
    height:20px;
    width:20px;
    background-color:transparent;   
}
.nav .travel-icon button{
    height:30px;
    width:200px;
    background-color:aliceblue;
    border-radius:10px;
    color:black;
    font-style:italic;
    font-size:16px;
    border:none;
    cursor:pointer;
}
.Location{
    height:30px;
    width:300px;
    border-radius:5px;
    color:black;
    padding:5px;
    margin-left:auto;
    margin-right:20px;
}

.container{
    height:50px;
    width:auto;
    padding:10px;
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.input{
    height:40px;
    width:70%;
    border:2px solid blue;
    border-radius:15px;
    padding:10px;
    margin:10px;
    display:flex;
    align-items:center;
}
#in{
    border:none;
    outline:none;
    width:100%;
    margin-left:10px;
}
.t{
    display:flex;
    gap:20px;
    align-items:center;
}
.login,.more,.cart{
    height:50px;
    width:80px;
    border:none;
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.for{
    border:1px solid rgb(196, 213, 219);
    display:flex;
    padding:5px;
    border-left:none;
    border-right:none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    justify-content:space-between;
    align-items:center;
}
.for-you{
    height:30px;
    width:auto;
    border:none;
    font-size:16px;
    cursor:pointer;
    padding:4px;
}
.for-you:hover{
    background-color:rgb(181, 232, 248);
    border-radius:10px;
}
.for-you i{
    margin-right:5px;
    background-color:transparent;
}

.main-container{
    height:auto;
    width:100%;
    background-color:aliceblue;
}

.Card1{
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);  
    gap:20px;
    background-color:white;
    border-radius:10px;
    border:none; 
    padding:20px;
    box-sizing:border-box;
    overflow:hidden;
}

.Card1 #subcard{
   height:auto;
   width:100%;
   padding:10px;
   box-sizing:border-box;
   box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
   border-radius:10px;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   overflow:hidden;
   border:1px solid orange;
}

.Card1 #subcard img{
    height:auto;
    width:100%;
    object-fit:fill;
}

.price{
    color:black;
    font-size:18px;
    font-weight:bold;
    padding:10px;
    margin-top:10px;
    background-color:orange;
    width:100%;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:5px; 
}

.Card2{
    height:auto;
    width:100%;
    background-color:yellow;
    border-radius:10px;
    margin:0px;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
    box-sizing:border-box;
}

.Card2sub{
    height:auto;
    width:95%;
    background-color:white;
    margin:0 auto;
    padding:20px;
    box-sizing:border-box;
    overflow:hidden;
    border-radius:10px;
}

.Card2sub h1{
    color:rgb(199, 72, 245);
    display:flex;
    justify-content:center;
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
}

.Card2sub marquee{
    padding:5px;
    background-color:yellow;
}

.Card2-cards{
    height:auto;
    width:100%;
    margin:20px 0;
    display:grid;
    grid-template-columns:repeat(4,1fr);  
    gap:20px;
    border-radius:10px;
    border:none; 
    padding:20px;
    box-sizing:border-box;
    overflow:hidden;
}

.Card2-cards #subcard-1{
   height:auto;
   width:100%;
   padding:10px;
   box-sizing:border-box;
   box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
   border-radius:10px;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   overflow:hidden;
}

.Card2-cards #subcard-1 img{
    height:200px;
    width:200px;
    object-fit:fill;
}

.price2{
    color:black;
    font-size:18px;
    font-weight:bold;
    padding:10px;
    margin-top:10px;
    background-color:orange;
    width:100%;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:5px;
}

.Cards3{
    height:auto;
    width:100%;
    background-color:#FF713B;
    border-radius:10px;
    margin:0px;
    padding:20px;
    box-sizing:border-box;
}

.Cards3 h1{
    color:white;
    display:flex;
    justify-content:left;
    background-color:#FF713B;
    padding:15px;
    font-family:Arial, Helvetica, sans-serif;
}

.Card3sub{
    height:auto;
    width:95%;
    background-color:white;
    margin:0 auto;
    padding:20px;
    box-sizing:border-box;
    overflow:hidden;
    border-radius:10px;
}

.Card3-cards{
    height:auto;
    width:100%;
    margin:20px 0;
    display:grid;
    grid-template-columns:repeat(2,1fr);  
    gap:20px;
    border-radius:10px;
    border:none; 
    padding:20px;
    box-sizing:border-box;
    overflow:hidden;
}

.Card3-cards #subcardsfor3{
    height:auto;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.Card3-cards #subcardsfor3 img{
    height:auto;
    width:100%;
    object-fit:contain;
}

.footer{
height:auto;
width:100%;
background-color:black;
display:flex;
align-items:flex-start;
justify-content:space-around;
padding:40px 50px;
box-sizing:border-box;
}

.footer1{
   height:auto;
   background-color:transparent;
   background:none;
   width:fit-content;
   color:white;
   padding:0;
   margin:0;
}

.footer1 h3{
    color:white;
    background:transparent;
    margin:0 0 15px 0;
    padding:0;  
    font-size:16px;
}

.footer1 p{
    color:white;
    background:transparent;
    margin:0 0 10px 0;       
    font-size:14px;
}

#SocialIcons{
    color:rgb(248, 93, 129);
    background:transparent;
    margin:0 0 15px 0;
    font-size:30px;
    border-radius:5px;
    padding:5px;
}

.Max-Width{
    max-width:70%;
    margin:0 auto;
}
